<h1 class="month-name"><%= I18n.l(Date.parse("1/#{@month}"), format: '%B') %></h1>
  <div class="card">
    <%= render 'app_title' %>
    <div class="card-content">
      <table class="responsive-table highlight">
        <thead>
          <tr>
          <th>Data</th>
          <th>Inicio</th>
          <th>Saida</th>
          <th>2° inicio</th>
          <th>2° saida</th>
          <th>Tipo do dia</th>
          <th>pernoite?</th>
          <th>Valor</th> 
          <th>Editar?</th>
          <th>Deletar?</th>
        </tr>
        </thead>
        <tbody>
            <% @month_dves.each do |dve| %>
              <tr>
                <td class="dates">
                  <%= I18n.l(dve.event_date, format:"%a - %d/%m") %>  
                </td>

                <td class="starts">
                  <%= dve.start_day.strftime("%H:%M") %>  
                </td>

                <td class="ends">
                  <%= dve.end_day.strftime("%H:%M") %>  
                </td>

                <td class="second_starts">
                  <% if dve.second_start.present? %>
                    <%= dve.second_start.strftime("%H:%M") %>
                  <% else %>
                    <span>Não<span>
                  <% end %> 
                </td>

                <td class="second_ends">
                  <% if dve.second_end.present? %>
                    <%= dve.second_end.strftime("%H:%M") %>
                  <% else %>
                    <span>Não<span>
                  <% end %> 
                </td>

                <td class="day_kind">
                    <%= dve.day_kind.tr('_',' ') %>
                </td>

                <td class="overnight">
                    <%= dve.overnight ? 'Sim' : 'Não' %>
                </td>

                <td class="total">
                  <%= dve.total %>
                </td>

                <td class="edit">
                  <%= link_to edit_dve_path(dve)  do %>
                     <i class="material-icons">edit</i>
                  <% end %>
                </td>

                <td class="delete">
                  <%= link_to dve_path(dve), method: :delete, data: { confirm: "Deseja realmente deletar (#{dve.event_name}?)" }  do %>
                    <i class="material-icons">delete</i>
                  <% end %>
                </td>
              </tr>              
            <% end %>
        </tbody>
      </table>
      <%= link_to 'Voltar', root_path %>
    </div>
  </div>