<div class="card form">

<% if @existing_dve %>
  <div class="message">
    Já existe uma dve para esta data. Deseja editá-la?
    <%= link_to "Clique aqui", edit_dfe_path(@existing_dve, dve: {visible: :true}) %>
  </div>
<% end %>

<%= simple_form_for @dve do |f| %>

  <div class="row">
    <%= f.input :event_date %>
    <%= f.input :event_name %>
  </div>

  <div class="row">
    <%= f.input :start_day %>
    <%= f.input :end_day %>
  </div>

  <div class="row">
    <%= f.input :second_start %>
    <%= f.input :second_end %>
  </div>

  <div class="row">
    <%= f.input :day_kind %>
  </div>

  <div class="row">
    <%= f.input :overnight %>

    <%= button_tag class: 'waves-effect waves-light btn col s6', id: 'add-dve' do %>
      Adcionar Dve <i class="material-icons left">add</i>
    <% end %>
  </div>
  <% end %>
  <%= link_to 'Voltar', root_path %>
</div>
