<!DOCTYPE html>
<html>
  <head>
    <title>Dvecalculator</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row less-margin-bottom">
        <div class="app-title col l2 offset-l3 m2 offset-m2 s12"> 
          <%= link_to  'DveCalculator', root_path %>
        </div>
      </div>
      
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
